<!DOCTYPE html>
<html>
<head>
	<title>Магазин</title>
	<meta charset="utf-8">
	<link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/buttons.css"> -->
	{% block head %}{% endblock %}
</head>
<body>
	<header>
		<div class="container">
			<div class="header_inner">
				<div class="company">
					<a href="/index">
						<img class="logo" src="../static/img/logo.png">
					</a>
					<h1>Woken Shop</h1>
				</div>
				<nav>
					<!-- {% block title %}{% endblock %} -->
					{% if current_user.is_authenticated %}
					    {% if current_user.id == 1 %}
					    	<a class="btn btn-dark" href="/addproduct" style="margin-right: 20px;">Добавить продукт</a>
					    	<a class="btn btn-dark" href="/view_basket" style="margin-right: 20px;">Просмотреть корзину</a>
					    	<a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
					    {% else %}
					    	<a class="btn btn-dark" href="/view_basket" style="margin-right: 20px;">Просмотреть корзину</a>
					    	<a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
					    {% endif %}
					{% else %}
					    <p>
					        <a class="btn btn-dark " href="/register">Зарегистрироваться</a>
					        <a class="btn btn-dark" href="/login">Войти</a>
					    </p>
					{% endif %}
				</nav>
			</div>
		</div>
	</header>
	<main role="main" class="container">
		{% block content %}{% endblock %}
	</main>
</body>
</html>